@each $fontsMap, $value in $fontsMap {
  .font-#{$fontsMap} {
    font-family: #{$value};
  }
}

.fw-extralight {
  font-weight: 100;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 800;
}

.fs-md {
  font-size: 18px;
}

.fs-lg {
  font-size: 20px;
}

.fs-xs {
  font-size: 14px;
}
.fs-60 {
  font-size: 60px;
  line-height: 74px;
}

@include lg {
  .fs-60 {
    font-size: 50px;
    line-height: 62px;
  }
}
@include md {
  .fs-60 {
    font-size: 38px;
    line-height: 1.33;
  }
}
@include sm {
  .fs-60 {
    font-size: 32px;
  }
}