/* Blog Box---------------------------------------*/
.blog-box {
    background-color: $smoke-color2;
    .blog-img {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
        .date {
            background-color: $theme-color;
            color: $white-color;
            position: absolute;
            bottom: 35px;
            left: 35px;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1;
            padding: 5px 12px;
            text-align: center;
            span {
                font-size: 22px;
                font-weight: 700;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .blog-content {
        padding: 35px 35px 0 35px;
    }
    .blog-meta {
        margin-bottom: 18px;
        margin-top: -0.5em;
        gap: 5px 20px;
    }
    .box-title {
        font-size: 22px;
    }
    .box-bottom {
        margin-top: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 2px dashed $border-color;
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}
